@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

main {
  background-color: #121212;
}
header {
  height: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
  background-blend-mode: overlay;
  padding-top: 50px;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav_title {
  color: rgb(230, 83, 60);

  font-size: 36px;
  font-weight: 800;

  text-align: left;
  font-style: italic;
}

.nav_links ul {
  max-width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  gap: 47px;
  padding: 12px 13px;
}

.nav_item {
  text-decoration: none;
  list-style: none;

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;

  text-align: left;
}

.nav_item_home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
  padding: 5px 15px;
}

/* banner style start from here */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 39px;
}
.shape {
  font-family: "Great Vibes", cursive;
  color: rgb(255, 255, 255);

  font-size: 100px;
  font-weight: 900;
}
.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  gap: 28px;
}
.banner_title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4.875rem;
  font-weight: 900;
}

.banner_para {
  height: auto;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

.banner_btn_div {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 14px;
}

.banner_btn_1 {
  border-radius: 2.625rem;
  background: rgb(230, 83, 60);
  padding: 10px 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.banner_btn_2 {
  border-radius: 2.625rem;
  padding: 0.625rem 2.5rem;
  background-color: transparent;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border: 1px solid;
  border: 1px solid rgb(255, 255, 255);
}

.banner_ticket_1 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;

  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.5rem;
  position: absolute;
  left: 880px;
  top: 36.25rem;
}
.banner_ticket_2 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;

  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 0.625rem 1.5rem;
  position: absolute;
  left: 1120px;
  top: 17.5rem;
}

.ticket_1_circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
.banner_ticket_title {
  color: rgb(250, 250, 249);

  font-size: 1.5rem;
  font-weight: 900;
}

.banner_ticket_para {
  color: rgba(239, 237, 232, 0.65);

  font-size: 1rem;
  font-weight: 400;
}
.banner_ticket_title_2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
  text-align: left;
}

.menubar_img {
  width: 20px;
  display: none;
}

/* start header responsive design */
@media (max-width: 320px) {
  .banner_para {
    height: auto;
    width: 80%;
  }

  .nav_links {
    display: none;
  }

  .menubar_img {
    width: 40px;
    display: block;
  }

  header {
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
    background-blend-mode: overlay;
    padding-top: 50px;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 2.4375rem;
  }

  .nav_title {
    color: rgb(230, 83, 60);

    font-size: 30px;
    font-weight: 800;

    text-align: left;
    font-style: italic;
  }
  .break {
    display: none;
  }
  .banner_title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    height: auto;
  }

  .shape {
    font-size: 40px;
  }

  .banner_para {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
  }

  .banner_btn_div {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 14px;
    width: 100%;
  }

  .banner_btn_1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    border: none;
  }
  .banner_btn_2 {
    border-radius: 42px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border: 1px solid;
    border: 1px solid rgb(255, 255, 255);
  }
  .banner_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_img {
    width: 80%;
  }

  .banner_ticket_1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 10px;
    position: absolute;
    left: 40px;
    top: 700px;
  }
  .banner_ticket_2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 5px 10px;
    position: absolute;
    left: 150px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
  }
  .banner_ticket_title {
    font-size: 10px;
  }

  .banner_ticket_para {
    font-size: 12px;
  }
  .banner_ticket_title_2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 900;

    text-align: left;
  }
}

@media ((min-width: 320.1px) and (max-width:375px)) {
  .banner_para {
    height: auto;
    width: 80%;
  }

  .nav_links {
    display: none;
  }

  .menubar_img {
    width: 40px;
    display: block;
  }

  header {
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
    background-blend-mode: overlay;
    padding-top: 50px;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 2.4375rem;
  }

  .nav_title {
    color: rgb(230, 83, 60);

    font-size: 30px;
    font-weight: 800;

    text-align: left;
    font-style: italic;
  }
  .break {
    display: none;
  }
  .banner_title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    height: auto;
  }

  .shape {
    font-size: 40px;
  }

  .banner_para {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
  }

  .banner_btn_div {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 14px;
    width: 100%;
  }

  .banner_btn_1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    border: none;
  }
  .banner_btn_2 {
    border-radius: 42px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border: 1px solid;
    border: 1px solid rgb(255, 255, 255);
  }
  .banner_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_img {
    width: 80%;
  }

  .banner_ticket_1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 10px;
    position: absolute;
    left: 40px;
    top: 700px;
  }
  .banner_ticket_2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 5px 10px;
    position: absolute;
    left: 180px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
  }
  .banner_ticket_title {
    font-size: 15px;
  }

  .banner_ticket_para {
    font-size: 12px;
  }
  .banner_ticket_title_2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;

    text-align: left;
  }
}

@media ((min-width: 375.1px) and (max-width:425px)) {
  .banner_para {
    height: auto;
    width: 80%;
  }

  .nav_links {
    display: none;
  }

  .menubar_img {
    width: 40px;
    display: block;
  }

  header {
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
    background-blend-mode: overlay;
    padding-top: 50px;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 2.4375rem;
  }

  .nav_title {
    color: rgb(230, 83, 60);

    font-size: 30px;
    font-weight: 800;

    text-align: left;
    font-style: italic;
  }
  .break {
    display: none;
  }
  .banner_title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    height: auto;
  }

  .shape {
    font-size: 40px;
  }

  .banner_para {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
  }

  .banner_btn_div {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 14px;
    width: 100%;
  }

  .banner_btn_1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border: none;
  }
  .banner_btn_2 {
    border-radius: 42px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border: 1px solid;
    border: 1px solid rgb(255, 255, 255);
  }
  .banner_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_img {
    width: 80%;
  }

  .banner_ticket_1 {
    left: 80px;
    top: 780px;
  }
  .banner_ticket_2 {
    left: 300px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 1.875rem;
    height: 1.875rem;
  }
  .banner_ticket_title {
    font-size: 20px;
    text-align: start;
  }

  .banner_ticket_para {
    font-size: 14px;
  }
  .banner_ticket_title_2 {
    font-size: 30px;
  }

  .banner_ticket_1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 10px;
    position: absolute;
    left: 40px;
    top: 700px;
  }
  .banner_ticket_2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 5px 10px;
    position: absolute;
    left: 180px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
  }
  .banner_ticket_title {
    font-size: 15px;
    text-align: start;
  }

  .banner_ticket_para {
    font-size: 12px;
  }
  .banner_ticket_title_2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;

    text-align: start;
  }
}

@media ((min-width: 425.1px) and (max-width: 451px)) {
  .banner_para {
    height: auto;
    width: 80%;
  }

  .nav_links {
    display: none;
  }

  .menubar_img {
    width: 40px;
    display: block;
  }

  header {
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
    background-blend-mode: overlay;
    padding-top: 50px;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 2.4375rem;
  }

  .nav_title {
    color: rgb(230, 83, 60);

    font-size: 30px;
    font-weight: 800;

    text-align: left;
    font-style: italic;
  }
  .break {
    display: none;
  }
  .banner_title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    height: auto;
  }

  .shape {
    font-size: 40px;
  }

  .banner_para {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
  }

  .banner_btn_div {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 14px;
    width: 100%;
  }

  .banner_btn_1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    border: none;
  }
  .banner_btn_2 {
    border-radius: 42px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border: 1px solid;
    border: 1px solid rgb(255, 255, 255);
  }
  .banner_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_img {
    width: 80%;
  }

  .banner_ticket_1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 10px;
    position: absolute;
    left: 40px;
    top: 700px;
  }
  .banner_ticket_2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 5px 10px;
    position: absolute;
    left: 180px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
  }
  .banner_ticket_title {
    font-size: 15px;
  }

  .banner_ticket_para {
    font-size: 15px;
  }
  .banner_ticket_title_2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;

    text-align: left;
  }
}
@media ((min-width: 451.1px) and (max-width:576px)) {
  .nav_links {
    display: none;
  }

  .menubar_img {
    width: 40px;
    display: block;
  }

  header {
    height: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(46, 46, 46) 100%);
    background-blend-mode: overlay;
    padding-top: 50px;
  }
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 39px;
  }

  .nav_title {
    font-size: 30px;
  }

  .banner_title {
    font-size: 50px;
  }

  .shape {
    font-size: 50px;
  }

  .banner_para {
    font-size: 1rem;

    /* width: 80%; */
  }

  .banner_btn_div {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 14px;
    width: 90%;
  }

  .banner_btn_1 {
    padding: 10px 20px;

    font-size: 16px;
  }
  .banner_btn_2 {
    padding: 10px 1.25rem;

    color: white;
    font-size: 1rem;
  }

  .banner_ticket_1 {
    left: 80px;
    top: 780px;
  }
  .banner_ticket_2 {
    left: 300px;
    top: 550px;
  }

  .ticket_1_circle {
    width: 1.875rem;
    height: 1.875rem;
  }
  .banner_ticket_title {
    font-size: 1.25rem;
    text-align: left;
  }

  .banner_ticket_para {
    font-size: 14px;
  }
  .banner_ticket_title_2 {
    font-size: 30px;
    text-align: left;
  }
}

/* HABIT SECTION DESIGN START */

.habit {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 54px;
  padding-top: 100px;
}
.habit_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.habit_title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.habit_para {
  color: rgba(255, 255, 255, 0.5);

  font-size: 14px;
  font-weight: 400;

  text-align: center;
}
.habit_card_parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.habit_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.habit_card_title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
text-align: center;
}

.habit_img{
    border-radius: 50%;
    border: 3px solid rgba(48, 48, 48, 0.54);;
}


/* responsive habit design */